[submodule "vendor/ZfcTwig"]
	path = vendor/ZfcTwig
	url = https://github.com/ZF-Commons/ZfcTwig.git

[submodule "vendor/ZF2"]
	path = vendor/ZF2
	url = https://github.com/zendframework/zf2.git

[submodule "module/SocialogAdmin"]
	path = module/SocialogAdmin
	url = https://github.com/Socialog/SocialogAdmin.git

[submodule "module/SocialogAnalytics"]
	path = module/SocialogAnalytics
	url = https://github.com/Socialog/SocialogAnalytics.git

[submodule "module/SocialogGithub"]
	path = module/SocialogGithub
	url = https://github.com/Socialog/SocialogGithub.git

[submodule "module/SocialogInstall"]
	path = module/SocialogInstall
	url = https://github.com/Socialog/SocialogInstall.git

[submodule "module/SocialogTumblr"]
	path = module/SocialogTumblr
	url = https://github.com/Socialog/SocialogTumblr.git
