/**
	Vars
**/

@import "reset";

$sidebar-width: 200px;


body {
	color: #404040;
	font-family: 'Segoe UI', Optima, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

a {
	text-decoration: none;
}

h1, h2 {
	color: #000;
	font-size: 30px;
}

h1 {
	font-weight: 500;
}

/**
	Header
**/
header.main-header {

	position: fixed;
	width: $sidebar-width;
	background-color: #61b0e9;
	left: 0;
	top: 0;
	bottom: 0;
	border-right: 1px solid #C2C2C2;
    color: #FFF;

	hgroup {

		margin: 20px 35px;
        text-align: center;

		h1 {
			font-size: 24px;
			padding-top: 15px;
			font-style: normal;
            color: #FFF;
		}

        h2 {
            margin: 10px 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 25px;
            color: #FFF;
        }

		img {
			border: 3px solid #FFF;
			width: 90px;
		}
	}

	nav {
		margin-top: 15px;
	
		ul {
			list-style: none;
			margin-left: 0;

			li {
			}
		}

		a {
			position: relative;
			padding: 15px 30px;
			color: #FFF;
			display: block;
			font-weight: 500;
            font-size: 12px;
            font-weight: bold;

			&:hover {
				background: #6bbef6;
				color: white;
				text-shadow: none;
			}
		}
	}
}

section.content {
	margin-left: $sidebar-width;

	article.post, article.page {
		width: 700px;
		padding: 25px 35px;

		line-height: 25px;
		margin: 20px 0;

		h2 {
			font-size: 30px;
			line-height: 35px;
			font-weight: 500;
			line-height: 40px;
			margin: 25px 0;
		}
	}
}

/**
	Default Styles
**/
ul {
	margin: 0 0 15px 15px;
}