{#
	Standard Homepage
#}
{% extends "@base/home.twig" %}

{#
{% block header %}
	<h1>Header</h1>
{% endblock %}
#}

{% block post %}
	<h2>{{ post.title }}</h2>
	{{ post.contenthtml|raw }}
{% endblock %}
