{#
	Standard Homepage
#}
{% extends "@base/home.twig" %}

{#
{% block header %}
	<h1>Header</h1>
{% endblock %}
#}

{% block post %}
	<h2>
        <a href="{{ url('socialog-post', {'id':post.id}) }}">
            {{ post.title }}
        </a>
    </h2>

	{{ post.contenthtml|raw }}
{% endblock %}
