<article class="post">

    {% trigger "theme:post.pre" with {'post':post} %}

    <h1>{{ post.title }}</h1>
    <br>
    <div>
        {{ post.contenthtml|raw }}
    </div>
    
    
    <h2>Comments</h2>

    {% for comment in comments %}
        {% include "@theme/comment.twig" %}
    {% else %}
        No comments
    {% endfor %}

    {% trigger "theme:post.post" with {'post':post}  %}

</article>
